header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  background-color: lightgray
  /*  lemonchiffon; */
  padding: 0.3em;
}


/* Estilos generales */
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: blared;
  background-color: lightgray;
  padding: 0.3em;
}

/* Estilos para la barra de navegación */
menu, ul {
  display: flex;
  list-style: none;
  padding: 0;
  width: 400px;
}

li {
  flex-grow: 1;
}

button {
  width: 100%;
}

/* Estilos para encabezados */
h1, h2, h3, h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: red;
  background-color: yellow;
  padding: 1em 12px 4px 3px;
}

h2 {
  color: wheat;
  background-color: black;
  padding: 1em 12px 4px 3px;
}

h3 {
  color: white;
  background-color: black;
  padding: 1em;
  margin-left: 1em;
}

h5 {
  font-size: 24px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
}

/* Imágenes */
img {
  max-width: 100%;
  height: auto;
}

/* Párrafos */
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-left: 10px;
}

p1 {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-left: 10px;
}

/* Estilos para títulos */
.titulo-introduccion, .titulo, .titulo1, .titulo2, .titulo3, .titulo4 {
  font-family: 'Avenir Next LT Pro';
  font-weight: bbold;
  padding: 1em;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.titulo-introduccion {
  border: 0,2em solid black;
  color: white;
  background-color: rgb(168, 164, 164);
}

.titulo {
  border: 0,2em solid black;
  color: white;
  background-color: black;
  text-align: center;
}

.titulo1 {
  border: 0,2em solid lightblue;
  color: black;
  background-color: lightblue;
  text-align: center;
}

.titulo2 {
  border: 0,2em solid lightblue;
  color: yellow;
  background-color: red;
  text-align: left;
}

.titulo3 {
  border: 0,2em solid lightblue;
  color: black;
  background-color: cyan;
  text-align: left;
}

.titulo4 {
  border: 0,2em solid lightblue;
  color: bisque;
  background-color: black;
  text-align: left;
}

/* Contenedores de destinos pagina INDEX*/
.destinos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.destino-column {
  flex: 1;
  padding: 60px;
  box-sizing: border-box;
  color: black;
}

.spacer {
  flex-basis: 5px;
  background-color: transparent;
}

/* Contenedores de imágenes - Pagina de Espana */
.image-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
 
.column {
  flex: 1;
  margin: 0 5px; /* Separación de 10 píxeles (5px a cada lado) */
}

.column-image {
  width: 100%; /* Establece el ancho de las imágenes al 100% del contenedor */
  height: 100%; /* Mantiene la proporción de aspecto original */
}

/* Estilos para las secciones de destinos */
.spain, .patagonia, .caribe {
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-text-stroke: 1px white;
  padding: 2em;
  text-align: left;
  /* margin-left: 0,5em;*/
}

.spain {
  color: yellow;
  background-color: red;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuQk_qZrPQthD2RkF6gOcKwidcBHmZYOCoqw&usqp=CAU');
  background-size: 200%;
}

.patagonia {
  color: white;
  background-color: transparent;
  background-image: url('https://wallpapers.com/images/hd/patagonia-long-road-wu4e62i3785tduwf.jpg');
  background-size: 150%;
}

.caribe {
  color: white;
  background-color: transparent;
  background-image: url('img/Caribe-Fondo.jpeg');
  background-size: 150%;
}

/* Comienzo del carrusel */
/* .main-carousel-data {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.main-carousel-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main-carousel-inner h3 {
  font-size: 1.75rem;
  font-weight: 500;
  color: #ffffff;
}

.main-carousel-inner p {
  text-align: right;
  color: #ffffff;
  max-width: 55%;
  line-height: 1.5;
} */ */

/* Resto de tus estilos (3 imágenes, Hawaii, Formulario, Footer) */
/* ... */
