header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  background-color: lightgray
  /*  lemonchiffon; */
  padding: 0.3em;
}

/* Portada Index */
@font-face {
  font-family: "LibreFranklin";
  src: url('../fonts/LibreFranklin-VariableFont_wght.ttf');
}

  .hero {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

.img-hero {
    display: flex;
    justify-content: center;
}

.desk {
  display: block;
}

.mobile {
  display: none;
}

/* About.html  */
.contenedor {
  display: flex;
  justify-content: space-between;
  padding: 0 20px; /* Espacio a los lados */
}

.columnas {
  display: flex;
  width: 100%;
}

.columna50 {
  flex: 1;
}

.justificado {
  text-align: justify;
}

#section-1 {
  padding: 50px 0;
}

#section-1 h6 {
  color: #753505;
  margin: 75px 20px 0 -120px;
  /* margin: auto; */
}

@media (max-width: 768px) {
  #section-1 {
      padding: 20px 0;
  }
}

#section-2 {
  position: relative;
  padding: 1px 0 50px;
  z-index: 1;
  background-color: #fff;
}

@media (max-width: 768px) {
  #section-2 {
      padding: 0 20 20px;
  }
}

#section-7 .contenedorAncho {
  position: absolute;
}

#section-7 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/* Animacion 2 - cuadro Avion */
.contParrafoSec7 {
  overflow: hidden; 
  width: 800px;
  padding: 20px;
  background-color: rgba(194, 245, 220, 0.8);
  margin-left: calc(45% - 200px);
}

.contParrafoSec7 h6 {
  animation: slideFromRight 1s ; 
  animation-fill-mode: forwards; 
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%); 
  }
  to {
    transform: translateX(calc(80% - 630px)); 
  }
}
/* FIN - Animacion 2 - cuadro Avion */

.columnas {
  display: flex;
  justify-content: space-between;
}
.columna30 {
  width: calc(30% - 20px);
  text-align: right;
}
.columna50 {
  width: calc(30% - 20px);
  margin: 0 25px; 
}
.columna70 {
  width: calc(50% - 20px);
  
}
.paddingLadosAncho {
  padding: 0 110px 110px;
}

@media (max-width: 600px) {
  .columnas {
      flex-flow: column;
      z-index: 9999999;
  }

  .columna70,
  .columna50,
  .columna30 {
      width: 70%;
  }
}

/* Animacion img-1 */
.img-1 {
  animation: rotateOnce 2s infinite; 
  transform-origin: center; 
  animation-play-state: paused; 
}

@keyframes rotateOnce {
  from {
      transform: rotate(0deg); 
  }
  to {
      transform: rotate(360deg); 
  }
} 
/* FIN - Animacion img-1 */







/* Estilos generales */
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: blared;
  background-color: lightgray;
  padding: 0.3em;
}

/* Estilos para la barra de navegación */
menu, ul {
  display: flex;
  list-style: none;
  padding: 0;
  width: 400px;
}

li {
  flex-grow: 1;
}

button {
  width: 100%;
}

/* Estilos para encabezados */
h1, h2, h3, h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: red;
  background-color: yellow;
  padding: 1em 12px 4px 3px;
}

h2 {
  color: wheat;
  background-color: black;
  padding: 1em 12px 4px 3px;
}

h3 {
  color: white;
  background-color: black;
  padding: 1em;
  margin-left: 1em;
}

h5 {
  font-size: 24px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
}

h6 {
  font-family: "LibreFranklin";
  font-weight: 300;
  font-size: 36px;
  line-height: 1.2;
}


/* Imágenes */
img {
  max-width: 100%;
  height: auto;
}

/* Párrafos */
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-left: 10px;
}

p1 {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-left: 10px;
}

p2 { 
  text-align: justify;
  font-family: "LibreFranklin";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
}

/* @media (max-width: 768px) {
  p2 {
      font-size: 24px;
  }
} */


/* Estilos para títulos */
.titulo-introduccion, .titulo, .titulo1, .titulo2, .titulo3, .titulo4 {
  font-family: 'Avenir Next LT Pro';
  font-weight: bbold;
  padding: 1em;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.titulo-introduccion {
  border: 0,2em solid black;
  color: white;
  background-color: rgb(168, 164, 164);
}

.titulo {
  border: 0,2em solid black;
  color: white;
  background-color: black;
  text-align: center;
}

.titulo1 {
  border: 0,2em solid lightblue;
  color: black;
  background-color: lightblue;
  text-align: center;
}

.titulo2 {
  border: 0,2em solid lightblue;
  color: yellow;
  background-color: red;
  text-align: left;
}

.titulo3 {
  border: 0,2em solid lightblue;
  color: black;
  background-color: cyan;
  text-align: left;
}

.titulo4 {
  border: 0,2em solid lightblue;
  color: bisque;
  background-color: black;
  text-align: left;
}

/* Contenedores de destinos pagina INDEX*/
.destinos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.destino-column {
  flex: 1;
  padding: 60px;
  box-sizing: border-box;
  color: black;
}

.spacer {
  flex-basis: 5px;
  background-color: transparent;
}

/* Contenedores de imágenes - Pagina de Espana */
.image-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
 
.column {
  flex: 1;
  margin: 0 5px; /* Separación de 10 píxeles (5px a cada lado) */
}

.column-image {
  width: 100%; /* Establece el ancho de las imágenes al 100% del contenedor */
  height: 100%; /* Mantiene la proporción de aspecto original */
}

/* Estilos para las secciones de destinos */
.spain, .patagonia, .caribe {
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-text-stroke: 1px white;
  padding: 2em;
  text-align: left;
  /* margin-left: 0,5em;*/
}

.spain {
  color: yellow;
  background-color: red;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuQk_qZrPQthD2RkF6gOcKwidcBHmZYOCoqw&usqp=CAU');
  background-size: 200%;
}

.patagonia {
  color: white;
  background-color: transparent;
  background-image: url('https://wallpapers.com/images/hd/patagonia-long-road-wu4e62i3785tduwf.jpg');
  background-size: 150%;
}

.caribe {
  color: white;
  background-color: transparent;
  background-image: url('img/Caribe-Fondo.jpeg');
  background-size: 150%;
}

