header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  background-color: lightgray
  /*  lemonchiffon; */
  padding: 0.3em;
}

/* Portada Index */
@font-face {
  font-family: "LibreFranklin";
  src: url('../fonts/LibreFranklin-VariableFont_wght.ttf');
}

  .hero {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

.img-hero {
    display: flex;
    justify-content: center;
}

.desk {
  display: block;
}

.mobile {
  display: none;
}

/* About.html  */
.contenedor {
  display: flex;
  justify-content: space-between;
  padding: 0 20px; /* Espacio a los lados */
}

.columnas {
  display: flex;
  width: 100%;
}

.columna50 {
  flex: 1;
}

.justificado {
  text-align: justify;
}

#section-1 {
  padding: 50px 0;
}

#section-1 h6 {
  color: #753505;
  margin: 75px 20px 0 -120px;
  /* margin: auto; */
}

@media (max-width: 768px) {
  #section-1 {
      padding: 20px 0;
  }
}

#section-2 {
  position: relative;
  padding: 1px 0 50px;
  z-index: 1;
  background-color: #fff;
}

@media (max-width: 768px) {
  #section-2 {
      padding: 0 20 20px;
  }
}

#section-7 .contenedorAncho {
  position: absolute;
}

#section-7 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/* Animacion 2 - cuadro Avion */
.contParrafoSec7 {
  overflow: hidden; 
  width: 800px;
  padding: 20px;
  background-color: rgba(194, 245, 220, 0.8);
  margin-left: calc(45% - 200px);
}

.contParrafoSec7 h6 {
  animation: slideFromRight 1s ; 
  animation-fill-mode: forwards; 
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%); 
  }
  to {
    transform: translateX(calc(80% - 630px)); 
  }
}
/* FIN - Animacion 2 - cuadro Avion */

.columnas {
  display: flex;
  justify-content: space-between;
}
.columna30 {
  width: calc(30% - 20px);
  text-align: right;
}
.columna50 {
  width: calc(30% - 20px);
  margin: 0 25px; 
}
.columna70 {
  width: calc(50% - 20px);
  
}
.paddingLadosAncho {
  padding: 0 110px 110px;
}

@media (max-width: 600px) {
  .columnas {
      flex-flow: column;
      z-index: 9999999;
  }

  .columna70,
  .columna50,
  .columna30 {
      width: 70%;
  }
}

/* Animacion img-1 */
.img-1 {
  animation: rotateOnce 2s infinite; 
  transform-origin: center; 
  animation-play-state: paused; 
}

@keyframes rotateOnce {
  from {
      transform: rotate(0deg); 
  }
  to {
      transform: rotate(360deg); 
  }
} 
/* FIN - Animacion img-1 */

/* Estilos generales */
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: blared;
  background-color: lightgray;
  padding: 0.3em;
}

/* Estilos para la barra de navegación */
/* Estilos para centrar la barra de navegación */
nav {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 15px; /* Espacio entre elementos de la lista */
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}



/* Estilos para encabezados */
h1, h2, h3, h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: red;
  background-color: yellow;
  padding: 1em 12px 4px 3px;
}

h2 {
  color: wheat;
  background-color: black;
  padding: 1em 12px 4px 3px;
}

h3 {
  color: white;
  background-color: black;
  padding: 1em;
  margin-left: 1em;
}

h5 {
  font-size: 24px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
}

h6 {
  font-family: "LibreFranklin";
  font-weight: 300;
  font-size: 36px;
  line-height: 1.2;
}


/* Imágenes */
img {
  max-width: 100%;
  height: auto;
}

/* Párrafos */
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-left: 10px;
}

p1 {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-left: 10px;
}

p2 { 
  text-align: justify;
  font-family: "LibreFranklin";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
}

/* Estilos para títulos */
.titulo-introduccion, .titulo, .titulo1, .titulo2, .titulo3, .titulo4 {
  font-family: 'Avenir Next LT Pro';
  font-weight: bbold;
  padding: 1em;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.titulo-introduccion {
  border: 0,2em solid black;
  color: white;
  background-color: rgb(168, 164, 164);
}

.titulo {
  border: 0,2em solid black;
  color: white;
  background-color: black;
  text-align: center;
}

.titulo1 {
  border: 0,2em solid lightblue;
  color: black;
  background-color: lightblue;
  text-align: center;
}

.titulo2 {
  border: 0,2em solid lightblue;
  color: yellow;
  background-color: red;
  text-align: left;
}

.titulo3 {
  border: 0,2em solid lightblue;
  color: black;
  background-color: cyan;
  text-align: left;
}

.titulo4 {
  border: 0,2em solid lightblue;
  color: bisque;
  background-color: black;
  text-align: left;
}

/* Contenedores de destinos pagina INDEX*/
.destinos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.destino-column {
  flex: 1;
  padding: 60px;
  box-sizing: border-box;
  color: black;
}

.spacer {
  flex-basis: 5px;
  background-color: transparent;
}

/* Contenedores de imágenes - Pagina de Espana */
.image-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
 
.column {
  flex: 1;
  margin: 0 5px; /* Separación de 10 píxeles (5px a cada lado) */
}

.column-image {
  width: 100%; 
  height: 100%; 
}

/* Estilos para las secciones de destinos */
.spain, .patagonia, .caribe {
  font-family: 'Avenir Next LT Pro';
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-weight: bbold;
  padding: 1em;
  justify-content: center;
  text-align: left;
  /* margin-left: 0,5em;*/
}

.spain {
  color: white;
  background-color: transparent;
  background-size: 200%;
}

.patagonia {
  color: white;
  background-color: transparent;
  background-size: 200%;
}

.caribe {
  color: white;
  background-color: transparent;
  background-size: 150%;
}

/* Style carousel */
.carousel {
  max-width: 65%; /* Resize carousel */
  overflow: hidden;
  margin: 0 auto; /* Centro para carousel - horizontal */
  position: relative; 
}

.carousel img {
  width: 100%;
  height: auto;
  display: none;
}

/* Style the form section */
.form-section {
  padding: 20px;
  background-color: #f0f0f0;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label, input, textarea, button {
  display: block;
  margin-bottom: 10px;
}

button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

footer {
  background-color: #333;
  padding: 20px 0;
}

footer nav ul {
  list-style-type: none;
  text-align: center;
}

footer nav ul li {
  display: inline;
  margin-right: 20px;
}

footer nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

footer nav a:hover {
  text-decoration: underline;
}

/* --- Formulario Contacto ------ */

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}